<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Power Trader</title>
        <meta name="description" content="">
        <link href="favicon.ico" rel="icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
        <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
        <link rel="stylesheet" href="app.css">
        <link rel="stylesheet" href="bower_components/bootstrap-css/css/bootstrap.min.css">
        <link rel="stylesheet" href="bower_components/angular-chart.js/dist/angular-chart.css">
        <link rel="stylesheet" href="bower_components/angular-wizard/dist/angular-wizard.css">
        <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>

    </head>
    <body>
        <nav class="navbar-inverse">

            <div class="container" ng-controller="homeCtrl">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Power Trader</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse" uib-collapse="!isCollapsed" >
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li uib-dropdown>
                            <a href="#" uib-dropdown-toggle>Users <b class="caret"></b></a>
                            <ul class="uib-dropdown-menu">
                                <li><a href="#/login">Login</a></li>
                                <li><a href="" ng-click="logout()">Logout</a></li>
                                <li><a href="#/register">Register</a></li>
                                <li><a href="#/show">Show All</a></li>

                            </ul>
                        </li>
                        <li><a href="#/offers">Offers</a></li>
                        <li uib-dropdown>
                            <a href="#" uib-dropdown-toggle>Contact <b class="caret"></b></a>
                            <ul class="uib-dropdown-menu">
                                <li><a href="">d</a></li>
                                <li><a href="#">jeden</a></li>

                            </ul>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>

        <div class="container" ng-view>

            <div class="starter-template">
                <h1>Bootstrap starter template</h1>
                <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
            </div>

        </div><!-- /.container -->




        <!-- In production use:
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
        -->
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/jquery/dist/jquery.js" type="text/javascript"></script>
        <script src="bower_components/angular-ui-bootstrap-bower/ui-bootstrap.min.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js" type="text/javascript"></script>
        <script src="bower_components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.min.js"></script>
        <script src="bower_components/Chart.js/Chart.js"></script>
        <script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>
        <script src="bower_components/api-check/dist/api-check.js" type="text/javascript"></script>
        <script src="bower_components/angular-formly/dist/formly.js" type="text/javascript"></script>
        <script src="bower_components/angular-mocks/angular-mocks.js" type="text/javascript"></script>
        <script src="bower_components/angular-formly-templates-bootstrap/dist/angular-formly-templates-bootstrap.js" type="text/javascript"></script>
        <script src="bower_components/angular-wizard/dist/angular-wizard.js" type="text/javascript"></script>
        <script src="bower_components/angular-messages/angular-messages.js" type="text/javascript"></script>
        <script src="bower_components/lodash/dist/lodash.js" type="text/javascript"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="app.js"></script>
        <script src="home/home.js"></script>
        <script src="login/login.js"></script>
        <script src="view2/view2.js"></script>
        <script src="register/register.js"></script>
        <script src="offers/offers.js"></script>
        <script src="components/version/version.js"></script>
        <script src="components/version/version-directive.js"></script>
        <script src="components/version/interpolate-filter.js"></script>

        <script type="text/ng-template" id="validation.html">
            <div class="alert-danger" ng-message="required">This field is required</div>
            <div class="alert-danger" ng-message="minlength">Too short</div>
            <div class="alert-danger" ng-message="maxlength">Too long</div>
            <div class="alert-danger" ng-message="email">This email is already in use</div>
        </script>
        <script type="text/ng-template" id="input-template.html">
            <input type="{{options.templateOptions.type || 'text'}}"
            class="form-control"
            id="{{id}}"
            formly-dynamic-name="id"
            formly-custom-validation="options.validators"
            placeholder="{{options.templateOptions.placeholder}}"
            aria-describedby="{{id}}_description"
            ng-required="options.templateOptions.required"
            ng-disabled="options.templateOptions.disabled"
            ng-model="model[options.key]">
        </script>
        <script type="text/ng-template" id="checkbox-template.html">
            <input type="checkbox"
            id="{{id}}"
            formly-dynamic-name="id"
            formly-custom-validation="options.validators"
            aria-describedby="{{id}}_description"
            ng-required="options.templateOptions.required"
            ng-disabled="options.templateOptions.disabled"
            ng-model="model[options.key]">
            {{options.templateOptions.label || 'Checkbox'}}
            {{options.templateOptions.required ? '*' : ''}}
        </script>

    </body>
</html>
